<div class="w-auto p-xl-4" style="background-color:red;"></div>

<head>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">INICIO<i class="fa fa-coffee"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbar-item"
                <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResposive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register","Account")">REGISTRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login","Account")">INICIAR SESIÓN</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</head>


<center><h2 class="bg-transparent" id="heart">MENÚ<i class="fa fa-heart"></i></h2></center>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        
        
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/img/heart.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>
                    ¡CAFÉ LOVE!  $58
                </h5>
                <p>
                    EL MEJOR CAFÉ AHORA COMBINADO CON UN HERMOSO DISEÑO.

                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/jarra.JPG" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>¡TÉ DE LA CASA!  $38</h5>
                <p>DISFRUTA NUESTRO TÉ ROMÁNTICO CON UNA BUENA COMPAÑPIA</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/2.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>¡PRUEBA NUESTRA NOVEDAD!   $119</h5>
                <p>
                    PRUEBA NUESTRO NUEVO JUGO DE FRESA. PERFECTO PARA INICIAR EL DÍA CON ENGERÍA. ¡TE ENCANTARÁ!
                
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/te.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>¡VARIEDAD DE TÉ! $45</h5>
                <p>
                    CONOCE NUESTRA NUEVA SELECCIÓN DE TÉS EN VERSIONES FRÍAS Y CALIENTES QUE ESTIMULARÁN TUS SENTIDOS.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/jarra.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>¡VEN Y DISFRUTA DEL MEJOR CAFÉ! $80</h5>
                <p>
                    PIDE TU CAFÉ A TU GUSTO Y DISFRÚTALO EN UN AMBIENTE SÚPER AGRADABLE Y ROMÁNTICO.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/pech.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>¡PECHUGA DE POLLO PASIÓN!  $215</h5>
                <p>
                   RELLENA DE ESPINACA, JAMÓN SERRANO Y QUESO MOZZARELLA. SERVIDA SOBRE PURÉ DE PAPA RÚSTICO.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/choc.jpg" class="d-block w-100" alt="..." height="400" width="500">
            <div class="carousel-caption d-none d-md-block">
                <h5>¡CAFÉ DE OLLA</h5>
                <p>
                   EMPIEZA TU DÍA CON UN CAFÉ Y SIÉNTETE LLENO DE ENERGÍA
                </p>
            </div>
        </div>
    </div>



    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previa</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>

